@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  min-height: 10vh;
  background-color: #382b2b;
  color: white;
}
main {
  min-height: 75vh;
  width: 100%;
  background-color: #141010;
  height: 100%
}
footer{
  height:100%;
  min-height: 10vh;
  background-color: #382b2b;
  color: white;
}

.container {
  width: 100%;
  height: 100%
}

.card {
  background-color: #382b2b;
  color: white;
}

.card-body {
  background-color: #141010;
  color: white;
}

.card-footer {
  background-color: #670101;
}

.card-header {
  background-color: #670101;
}

.card-link {
  color: white;
}

.map-container{
  width:100%;
  height: 100vh;
}

.imageCard{
  text-align: center;
}

.resizeImage{
  width:50%;
  height:20%;
}

.relative{
  position:relative;
}


.navMenu {
  position: relative;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.icon{
  width: 2%;
  height:2%;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 120px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}


.carouselHome{
  width:50%;
  height:50%;
}

.slideImage{
  position:relative;
  width:100%;
  height:100%;
}

.homePage{
  width:100%;
  height:100%;
  background-color: #141010;
}

.title{
  background-color: #141010;
}

.titleHeader{
  left:50%;
  color: white;
  align-content: center;
  text-align: center;
}

.body{
  margin:0;
  padding:0;
}

.text-center{
  background-color: #141010;

}
